In [2]:
import pandas as pd
with open(r'C:\Users\navne\Documents\Python Scripts\Data\nba_2013.csv') as csvfile:
    nba = pd.read_csv(csvfile)

In [3]:
nba.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [4]:
nba.columns

Index(['player', 'pos', 'age', 'bref_team_id', 'g', 'gs', 'mp', 'fg', 'fga',
       'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft',
       'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf',
       'pts', 'season', 'season_end'],
      dtype='object')

In [5]:
nba.isnull().any()

player          False
pos             False
age             False
bref_team_id    False
g               False
gs              False
mp              False
fg              False
fga             False
fg.              True
x3p             False
x3pa            False
x3p.             True
x2p             False
x2pa            False
x2p.             True
efg.             True
ft              False
fta             False
ft.              True
orb             False
drb             False
trb             False
ast             False
stl             False
blk             False
tov             False
pf              False
pts             False
season          False
season_end      False
dtype: bool

In [7]:
nba.fillna(0, inplace=True)

In [10]:
import random
from numpy.random import permutation
import math

In [ ]:
##to generate test and train sets, we will use random sampling. We'll randomly shuffle the index of the nba dataframe, and then pick rows using the randomly shuffled values.

In [11]:
ran_indices = permutation(nba.index)     # Randomly shuffle the index of nba.

# Set a cutoff for how many items we want in the test set (in this case 1/3 of the items)
test_cutoff = math.floor(len(nba)/3)

In [12]:
# To generate the test set by taking the first 1/3 of the randomly shuffled indices.
test = nba.loc[ran_indices[1:test_cutoff]]

In [13]:
# Generate the train set with the rest of the data.
train = nba.loc[ran_indices[test_cutoff:]]

In [14]:
# The columns that we will be making predictions with.

X = ['age', 'g', 'gs', 'mp', 'fg', 'fga', 'fg.', 'x3p', 'x3pa', 'x3p.', 'x2p', 'x2pa', 'x2p.', 'efg.', 'ft', 'fta', 'ft.', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf']
# The column that we want to predict.
Y = ['pts']

In [15]:
#we'll be using the regressor, as we have continuous values to predict on. Sklearn performs the normalization and distance finding automatically, and lets us specify how many neighbors we want to look at.
from sklearn.neighbors import KNeighborsRegressor

In [24]:
# Create the knn model
knn = KNeighborsRegressor(n_neighbors = 5) # Look at the five closest neighbors.

In [25]:
knn

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [17]:
# Fit the model on the training data.
knn.fit(train[X], train[Y])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform')

In [18]:
# To Make point predictions on the test set using the fit model.

pred = knn.predict(test[X])

In [19]:
pred

array([[9.9560e+02],
       [2.5160e+02],
       [3.1900e+02],
       [8.2000e+01],
       [3.4280e+02],
       [3.1780e+02],
       [7.8820e+02],
       [1.0480e+03],
       [1.5040e+02],
       [1.2910e+03],
       [4.0000e-01],
       [2.5880e+02],
       [1.5600e+01],
       [4.4640e+02],
       [3.6380e+02],
       [1.0640e+03],
       [6.9040e+02],
       [9.7440e+02],
       [8.3540e+02],
       [8.0000e-01],
       [8.3800e+01],
       [1.3222e+03],
       [1.9700e+02],
       [9.3840e+02],
       [4.1840e+02],
       [6.1700e+02],
       [9.3080e+02],
       [6.7760e+02],
       [1.1468e+03],
       [9.6000e+00],
       [3.7080e+02],
       [2.0880e+02],
       [7.8800e+01],
       [3.0800e+01],
       [3.7700e+02],
       [1.5620e+02],
       [3.7080e+02],
       [9.3280e+02],
       [1.8000e+02],
       [2.3800e+01],
       [6.5440e+02],
       [1.8760e+03],
       [3.4640e+02],
       [1.3158e+03],
       [1.7940e+02],
       [8.0800e+01],
       [5.8120e+02],
       [4.6920e+02],
       [2.9380e+02],
       [1.1074e+03],
       [8.0000e-01],
       [6.6080e+02],
       [3.3520e+02],
       [4.6840e+02],
       [1.3516e+03],
       [3.9500e+02],
       [1.2120e+02],
       [5.2660e+02],
       [1.1428e+03],
       [4.3660e+02],
       [1.4480e+02],
       [8.6000e+00],
       [7.6080e+02],
       [9.8800e+02],
       [1.6560e+02],
       [1.1056e+03],
       [7.2400e+01],
       [1.1254e+03],
       [6.7160e+02],
       [2.4800e+01],
       [1.0180e+03],
       [3.1400e+02],
       [6.3960e+02],
       [1.8760e+03],
       [1.9000e+01],
       [3.1040e+02],
       [5.3940e+02],
       [2.8940e+02],
       [2.1560e+02],
       [2.3680e+02],
       [8.2940e+02],
       [8.8860e+02],
       [2.8540e+02],
       [6.7960e+02],
       [4.7060e+02],
       [1.2132e+03],
       [4.6740e+02],
       [5.1580e+02],
       [1.7544e+03],
       [2.4260e+02],
       [1.1600e+01],
       [1.5400e+02],
       [1.9740e+02],
       [1.1166e+03],
       [1.8920e+02],
       [9.0060e+02],
       [4.1320e+02],
       [5.3940e+02],
       [3.2400e+02],
       [8.2400e+01],
       [8.2320e+02],
       [8.0080e+02],
       [6.0040e+02],
       [8.0900e+02],
       [1.9600e+01],
       [3.3400e+01],
       [3.4200e+01],
       [4.4720e+02],
       [2.6340e+02],
       [1.1738e+03],
       [3.4400e+01],
       [5.9380e+02],
       [4.5600e+01],
       [9.5700e+02],
       [2.1340e+02],
       [9.4000e+01],
       [1.5640e+02],
       [5.8820e+02],
       [1.5014e+03],
       [8.6000e+00],
       [1.0980e+02],
       [1.0722e+03],
       [1.9340e+02],
       [6.0040e+02],
       [7.8800e+01],
       [7.2660e+02],
       [6.4480e+02],
       [3.4820e+02],
       [7.4000e+01],
       [7.7140e+02],
       [3.5560e+02],
       [3.6060e+02],
       [1.4554e+03],
       [2.1200e+01],
       [9.8720e+02],
       [1.7400e+01],
       [9.5600e+01],
       [8.8500e+02],
       [1.1600e+01],
       [8.0960e+02],
       [1.2360e+03],
       [9.6020e+02],
       [1.0406e+03],
       [1.7400e+02],
       [3.8800e+01],
       [4.7140e+02],
       [6.4800e+01],
       [9.5720e+02],
       [1.3632e+03],
       [1.2740e+03],
       [1.1140e+03],
       [1.1028e+03],
       [9.0880e+02],
       [5.9660e+02],
       [4.3960e+02],
       [3.7800e+01],
       [7.6700e+02],
       [7.1440e+02],
       [0.0000e+00]])

Computing error
We can compute the error involved with our predictions using mean squared error.

In [20]:
# Get the actual values for the test set.
actual = test[Y]

# Compute the mean squared error of our predictions.
MSE = (((pred-actual) **2).sum()) / len(pred)

In [22]:
print(MSE)

pts    8943.383899
dtype: float64